.red-text {
    color: red;
    font-size: 60px;
  }

.bg {
    background-color: gray;
  }

 p {
    font-size: 16px;
  }

.img {
    width: 800px;
    border-radius:50%;
    border-style: solid;
  }
